{% load static %}
<html>
  <head>
    <title>base</title>
       <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

      <!--<link rel="stylesheet" type="text/css" href="{% static 'accounts/styles.css' %}" /> -->

  </head>

  <meta name="viewpoint" content="width=device-width , initial-scale=1.0">



  <br>
     {% block head %}

   {% endblock %}
  <div class="container">
 <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" href="/">Movie Bookings</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
             aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class=" navbar-collapse collapse" id="navbarSupportedContent">
      {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
            <li><a class="navbar-brand" href="{% url 'home:home' %}"> Home </a> </li>
        </ul>
          <ul class="navbar-nav mr-auto">
            <li><a class="navbar-brand" href="{% url 'accounts:view_profile' %}"> Profile </a> </li>
          </ul>
          <ul class="navbar-nav mr-auto">
            <li><a class="navbar-brand" href="{% url 'accounts:change_pwd' %}"> change password </a> </li>
          </ul>
      <ul class="navbar-nav mr-auto">
            <li><a class="navbar-brand" href="/accounts/reset_password"> reset password </a> </li>
          </ul>

      <ul class=" nav navbar-nav navbar-right">
            <li><a class="navbar-brand" href="/accounts/logout"> Logout </a> </li>
          </ul>

      {% else %}

          <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-brand" href="{% url 'accounts:login' %}"> Login </a> </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a class="navbar-brand" href="{% url 'accounts:register' %}"> Register</a></li>
          </ul>
      {% endif %}
  </div>
</nav>
   {% block body %}
    <h1> Base</h1>
   {% endblock %}
 </body>
  </div>
  <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>